@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" data-main="scripts/views/contacts" src="../../Scripts/libraries/require.js"></script>


<div id="app">
    <script type="text/x-handlebars">
       {{view App.ContactsView}}
    </script>
</div>

