@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" data-main="scripts/views/contacts" src="../../Scripts/libraries/require.js"></script>
<h2>
    Index</h2>
<div id="app">
</div>
<div id="reload">Click</div>
<div id="add">Add</div>
