@{
    ViewBag.Title = "Index.Mobile";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<script type="text/javascript" data-main="scripts/views/mobile/contacts" src="../../Scripts/libraries/require.js"></script>

<div id="app">
    <script type="text/x-handlebars">
       {{view App.ContactsView}}
    </script>
</div>
