{{#view App.AddContactView}}Add{{/view}}{{#view App.RemoveContactsView}}Remove{{/view}}
<ul>
    {{#each App.contactsController}}<li>{{view Ember.Checkbox valueBinding="isSelected"
        }} {{Id}}: {{#view App.ContactItemView contentBinding="this" }}{{#if content.LastName}}{{content.LastName}}, {{/if}}{{content.FirstName}}{{/view}}</li>{{/each}}
</ul>

{{#if App.contactsController.selectedContact}}
    {{#view App.ContactDetail }}
        First Name: {{view App.TextField valueBinding="contact.FirstName"}} 
        Last Name: {{view App.TextField valueBinding="contact.LastName"}} 
        Email: {{view App.TextField valueBinding="contact.Email"}} 

        {{#if contact.Id}} 
            {{#view App.UpdateContactLink contactBinding="contact"}}Update{{/view}}
        {{else}}
            {{#view App.AddContactLink contactBinding="contact"}}Add{{/view}}
        {{/if}} 
    {{/view}}
{{/if}}