{{#view App.AddContactView}}Add{{/view}}{{#view App.RemoveContactsView}}Remove{{/view}}
<ul>
    {{#each App.contactsController}}<li>{{view Ember.Checkbox valueBinding="isSelected"
        }} {{Id}}: {{#view App.ContactItemView contentBinding="this" }}{{#if content.lastName}}{{content.lastName}}, {{/if}}{{content.firstName}}{{/view}}</li>{{/each}}
</ul>

{{#if App.contactsController.selectedContact}}
    {{#if App.contactsController.selectedContact.isDirty}}<div style="color:Red;">Contact has changed.</div>{{/if}}
    {{#view App.ContactDetail contactBinding="App.contactsController.selectedContact"}}
        First Name: {{view App.TextField valueBinding="contact.firstName" contentBinding="contact" regex="^(?=\s*\S).*$"}} 
        Last Name: {{view App.TextField valueBinding="contact.lastName"  contentBinding="contact"}} 
        Phone: {{view App.TextField valueBinding="contant.phone" contentBinding="contact"}}
        <div>Emails: {{#each contact.emails}}
        <div>
            {{view App.TextField valueBinding="email" contentBinding="App.contactsController.selectedContact"}}
            {{#view App.RemoveEmailView emailBinding="this"}}Remove{{/view}}
        </div>{{/each}}
        {{#view App.AddEmailView}}Add Email{{/view}}</div>

        {{#if contact.id}} 
            {{#view App.UpdateContactLink contactBinding="contact"}}Update{{/view}}
        {{else}}
            {{#view App.AddContactLink contactBinding="contact"}}Add{{/view}}
        {{/if}} 
    {{/view}}
{{/if}}